.modale {
  width: 100%;
  height: 100%;
  background-color: #07181c;
  position: fixed;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.modale > div {
  color: white;
  opacity: 0.6;
}

.modale > img {
  width: 200px;
  height: calc(200px * 1.618);
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 1px solid #daa520;
}
.name {
  position: absolute;
  width: 600px;
  top: 10px;
  font-size: 4em;
  color: #daa520;
  font-family: "Metal Mania", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
}
.history {
  margin-top: 10px;
  max-width: 150px;
}
